.row-board{
	height:200px;
	margin-top: 20px;
}
.mancala{
	border-radius: 70px;
	height:200px;
	font-size:2.5em;
	padding-top: 75px; 
}
.player-1{
	border: solid 3px #5FADE2;
	color: #5FADE2;
}
.player-2{
	border: solid 3px #EC7569;
	color: #EC7569;
}
.row-pit .pit{
	border-radius: 50%;
	height:70px;
	width:100%;
	margin: 15px 5px;
	font-size:1.5em;
	padding-top: 15px; 
}

.player-icon{
	font-size: 3.5em;
	margin-top: 60px;
}


