.row-board{
	height:200px;
	margin-top: 10px;
}
.mancala{
	border-radius: 70px;
	height:200px;
	font-size:2.5em;
	padding-top: 75px; 
}
.player-1{
	border: solid 3px #5FADE2;
	color: #5FADE2;
}
.player-2{
	border: solid 3px #EC7569;
	color: #EC7569;
}
.row-pit .pit{
	border-radius: 50%;
	height:70px;
	width:100%;
	margin: 15px 5px;
	font-size:1.5em;
	padding-top: 15px; 
}
.row-pit .pit.player-1{
	cursor: pointer;
}
.row-pit .pit.player-2{
	cursor: not-allowed;
}

.player-icon{
	font-size: 3.5em;
	margin-top: 60px;
}


/*Callout*/
/*
.chat-bubble {
  padding: 15px;
  margin-top: 20px;
  color: #ffffff;
  background: #34495e;
  border-radius: 10px;
}

.chat-bubble:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 30px;
  width: 0;
  border-width: 30px 20px 0;
  border-style: solid;
  border-color: #34495e transparent;
}
*/
.chat-bubble {
  position:relative;
  padding:20px;
  margin-top: 20px;
  border:3px solid #34495e;
  color:#34495e;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.chat-bubble:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:22px; /* controls horizontal position */
  border-width:18px 18px 0;
  border-style:solid;
  border-color:#34495e transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.chat-bubble:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:25px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:15px 15px 0;
  border-style:solid;
  border-color:#ffffff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
