.row-board{
	height:200px;
	margin-top: 20px;
}
.mancala{
	border-radius: 70px;
	height:200px;
	font-size:2.5em;
	padding-top: 75px; 
}
.player-1{
	border: solid 3px #5FADE2;
	color: #5FADE2;
}
.player-2{
	border: solid 3px #EC7569;
	color: #EC7569;
}
.row-pit .pit{
	border-radius: 50%;
	height:70px;
	width:100%;
	margin: 15px 5px;
	font-size:1.5em;
	padding-top: 15px; 
}

.player-icon{
	font-size: 3.5em;
	margin-top: 60px;
}


/*Callout*/
/*
.chat-bubble {
  padding: 15px;
  margin-top: 20px;
  color: #ffffff;
  background: #34495e;
  border-radius: 10px;
}

.chat-bubble:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 30px;
  width: 0;
  border-width: 30px 20px 0;
  border-style: solid;
  border-color: #34495e transparent;
}
*/

.rectangle-speech-border {
  position:relative;
  padding:50px 15px;
  margin-top: 20px;
  border:3px solid #000000;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}

/* creates larger curve */
.rectangle-speech-border:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-30px;
  left:60px;
  width:30px;
  height:30px;
  border-style:solid;
  border-width:0 3px 3px 0;
  border-color:#000000;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:80px 70px;
  -moz-border-radius-bottomright:80px 70px;
  border-bottom-right-radius:80px 70px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.rectangle-speech-border:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-30px;
  left:60px;
  width:10px;
  height:30px;
  border-style:solid;
  border-width:0 3px 3px 0;
  border-color: #000000;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:40px 60px;
  -moz-border-radius-bottomright:40px 60px;
  border-bottom-right-radius:40px 60px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.rectangle-speech-border > :first-child:before {
  content:"";
  position:absolute;
  bottom:-30px;
  left:58px;
  width:3px;
  height:3px;
  background:#000000;
  /* css3 */
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

/* creates a white rectangle to cover part of the oval border*/
.rectangle-speech-border > :first-child:after {
  content:"";
  position:absolute;
  bottom:-10px;
  left:70px;
  width:20px;
  height:15px;
  background:#fff;
}

